---
const {
  projectTitle,
  projectDescription,
  projectThumbnail,
  projectRepository,
  projectSite,
  projectTags,
} = Astro.props;
---

<div class="mb-10">
  <!-- Top title -->
  <div class="flex">
    <h3>{projectTitle}</h3>
    <div class="ml-auto my-auto">
      <a href={projectRepository} class="px-2 py-1 btn-line">GITHUB</a>
      <a href={projectSite} target="_blank" class="px-2 py-1 btn-line"
        >LIVE DEMO</a
      >
    </div>
  </div>

  <!-- Thumbnail -->
  <a href={projectSite} target="_blank">
    <div class="overflow-hidden rounded-md">
      <img
        src={projectThumbnail}
        alt=""
        class="h-60 md:h-96 w-full object-cover rounded-md transform transition-transform duration-300 hover:scale-110"
      />
    </div>
  </a>

  <!-- Description -->
  <p class="mt-4">{projectDescription}</p>
  <div class="mt-4 text-sm">
    {
      projectTags.map((tag) => (
        <span
          class="mr-2 px-2 py-1 rounded-md"
          style={`background:${tag.bgColor}; color:${tag.textColor}`}
        >
          {tag.name}
        </span>
      ))
    }
  </div>
</div>
