---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "@portfolio";
const { projectCategory } = Astro.props;
---

<section class="grid grid-cols-1 lg:grid-cols-2 gap-16">
  {
    // Filter projects with the correct category
    projects
      .filter((project) => project.categories.includes(projectCategory))
      // Render filtered projects
      .map((project) => (
        <ProjectCard
          projectTitle={project.title}
          projectDescription={project.description}
          projectThumbnail={project.images[0]}
          projectRepository={project.urlRepository}
          projectSite={project.urlProject}
          projectTags={project.tags}
        />
      ))
  }
</section>
