---
import Navbar from "@/components/navigation/Navigation.astro";
const { pageTitle, blogTitle } = Astro.props;
const currentPath =
  Astro.url.pathname.slice(-1) === "/" && Astro.url.pathname.length > 1
    ? Astro.url.pathname.slice(0, -1)
    : Astro.url.pathname;

import "../styles/global.css";
---

<html lang="en">
  <head>
    <!-- Prevent Flash of Unstyled Content (FOUC)  -->
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/kb16.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Homepage | iaaron</title>
  </head>

  <body class="md:grid md:grid-cols-12">
    <!-- Navigation Bar -->
    <Navbar currentPath={currentPath} />

    <!-- Main content -->
    <main class="md:col-span-9 lg:col-span-10">
      <!-- show current path -->
      {currentPath !== "/" && <p class="mb-2">{currentPath}</p>}

      <!-- Titles: Renders bases if it's for a page title or blog title -->
      {pageTitle && <h1>{pageTitle}</h1>}
      {blogTitle && <h1 class="text-5xl md:text-6xl">{blogTitle}</h1>}

      <!-- Content -->
      <slot />
    </main>
  </body>

  <!-- Styles -->
  <style is:global>
    /* global styles */
    * {
      box-sizing: border-box;
      /* border: 1px solid red; */
    }
    html,
    body {
      height: 100vh;
      width: 100%;
      margin: 0;
    }
    body {
      @apply font-mono bg-slate-100 dark:bg-night dark:text-slate-100;
    }
    /* component classes */
    nav {
      @apply font-mono p-6 md:h-screen md:p-10;
    }
    nav a:hover {
      @apply text-black dark:text-white;
    }
    main {
      @apply border-none p-10 w-full md:h-screen md:overflow-y-auto;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sentient-regular mt-6 mb-2;
    }
    h1 {
      @apply font-sentient-regular mb-10 text-6xl md:text-8xl;
    }
    h2 {
      @apply leading-normal text-3xl md:text-4xl;
    }
    h3 {
      @apply text-3xl;
    }
    p {
      @apply text-slate-500 dark:text-slate-400;
    }
    a {
      @apply font-mono text-blue-600 hover:text-slate-900 dark:text-sky-400 dark:hover:text-white;
    }
    button,
    .btn {
      @apply bg-slate-300 px-3 py-1 rounded-md dark:bg-slate-600;
    }

    .btn-line {
      @apply border rounded-md border-slate-500 hover:bg-blue-600 hover:text-white hover:border-transparent dark:border-slate-500 dark:hover:bg-blue-700 dark:hover:border-transparent;
    }
    .navbar-link {
      @apply text-slate-500 dark:text-slate-400;
    }
    .navbar-link-active {
      @apply font-bold text-black no-underline dark:text-white;
    }
    .navbar-content {
      @apply hidden md:flex flex-col h-full;
    }
    .navbar-show {
      @apply flex items-center w-full h-full z-30 absolute left-0 top-0 py-20 bg-white dark:bg-night;
    }
    .navbar-show a {
      @apply text-4xl my-4;
    }
    .navbar-show p {
      @apply text-4xl  mb-4 mt-10 text-slate-400 dark:text-slate-500;
    }
    .navbar-show button {
      @apply text-4xl;
    }
  </style>

  <!-- scripts -->
  <script>
    import "../scripts/themeToggle";
    import "../scripts/navbarToggle";
  </script>
</html>
